.navBar{
    position:fixed;
    top:35px;
    height:80px;
    width: 100vw;
    background:transparent;
    transition:.3s;
    display: flex;
    justify-content:space-around;
    align-items: center;   
}
#naviGation{ 
 position:relative;
    left:-90px;
    /* border: 1px solid black; */
}
#icons{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    font-size:1.3rem;
    width:13vw;
    position: relative;
    left:3em;
    color:black;
}
#logo{
    margin-left:-130px;
}
.bx{
    cursor:pointer;
}
#f-s{
    font-size:.8rem;
   color:black;
}
@media only screen and (max-width:752px){
.icon{
    display:none;
}
#logo{
    margin-left:-160px;
}
}
@media only screen and (max-width:650px){
#naviGation{
    left:-80px;
}
.navBar{
    justify-content: space-evenly;
}
#icons{
    margin-left:10px;
    justify-content:space-between;
}
#f-s{
    display:none;
}
}
.font-size{
    font-size: .8rem;
}